*{
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
body{
	background-color: #A9CCE3;
	font-family: 'Rokkitt', serif;

}
 header{
 	position: relative;
 	height: 300px;
    border-bottom: 5px solid #273746;
	background-color: #D2B4DE;
	background-image: url(Images/banner.jpg);
	background-position: center;
	background-repeat: no-repeat;



}

h1, h2{
	position: relative;
	top: 50px;
	font-size: 50px;
	text-align: center;
	color: #FDFEFE;
}
h1, h2, h3{
	font-family: 'Playfair Display', serif;
}
h3{

	margin-bottom: 10px;
	letter-spacing: 0.1em;
	color:#212F3D;
	font-size: 30px;

}
p{
	font-family: 'Raleway', sans-serif;
line-height: 22px;
}
a{

	text-decoration:none;
    line-height: 22px;
    font-weight: 600;
	color: #4D5656;
	position: relative;
	display: inline-block;
	
}

a:after{
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 1px;
transform: scaleX(0);
background-color: #4D5656;
transition: all .2s ease-in;

}
a:hover::after{
	transform: scaleX(1);
}
.sidebar a:hover{
	font-size: 17px;
transition: all .2s linear;
}

.summary{
	width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
}
.preamble{
width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
	clear: left;

}
.explanation{
width:400px;
	
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
clear: left;

}
.participation{

width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;

}
.benefits{

width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;

}
.requirements{

	width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
}
footer{
	width:400px;
	float: left;
	border: 1px solid red;
	margin: 10px;
	padding: 10px;
}
.sidebar{
  
	position: absolute;
	left:900px;
	width: 400px;
	margin: 10px;
	border: 5px solid #D2B4DE;
	height: 1000px; 
	
	background: #2ECC71;
}
.design-selection{

}
.sidebar ul{
	margin: 0px;
	padding: 0px;
}
.sidebar li{

	list-style: none;
	
	font-family: 'Raleway', sans-serif;
	line-height: 22px;
	
	padding: 15px;
}

.sidebar li a{
	position: relative;
	
}






